@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: Karla;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-title {
  padding: 60px;
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.6em;
}

.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 0.2em;
  justify-content: center;
}

.container-main{
  width: 100%;
  margin: 1em auto;
  padding: 20px;
}

.inner-details {
  display: flex;
  font-family: Karla;
  font-weight: 500;
}

.inner-details-img {
  max-width: 50%;
}

.btn-inner {
  background-color: #fff;
  color: #fff;
}

.hover-img {
  background-color: #000;
  color: #fff;
  display: inline-block;
  margin: 8px;
  max-width: 320px;
  min-width: 240px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.hover-img:before,
.hover-img:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 32px solid rgba(0, 0, 0, 0.5);
  border-bottom: 32px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
}

.hover-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.hover-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hover-img:hover:before,
.hover-img:hover:after {
  transform: scale(1);
  opacity: 1;
}

.hover-img:hover > img {
  opacity: 0.7;
}

.hover-img:hover figcaption {
  opacity: 1;
}

@media only screen and (max-width : 768px)  {
  .grid {
    display: grid;
    margin-left: .5px;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0.2em;
    justify-content: center;
  }
  .inner-details-img {
    width: 50%;
  }
}

@media only screen and (max-width : 480px)  {
  .grid {
    display: grid;
    margin-left: .5px;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 0.2em;
    justify-content: center;
  }

  .inner-details-img {
    width: 50%;
  }
}